.vintage-filter {
    -webkit-filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
    filter: sepia(.5) hue-rotate(-30deg) saturate(1.4);
}  

.sepia-filter {
    -webkit-filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
    filter: sepia(.75) contrast(.75) brightness(1.25) saturate(1.4);
}

.baw-filter {
    -webkit-filter: brightness(1.25) contrast(.85) grayscale(1);
    filter: brightness(1.25) contrast(.85) grayscale(1);
}

.just-me-font {
    font-family: 'Just Me Again Down Here', cursive;
}

.la-belle-font {
    font-family: 'La Belle Aurore', cursive;
}

.marker-font {
    font-family: 'Permanent Marker', cursive;
}